.block {
  background-image: url(../assets/FAQ_car.png);
  background-size: 100% 48.75vw;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 48.75vw;
}
.bg {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.444vw;
  padding: 5.308vw 0 0 50vw;
}

@media (max-width: 1024px) {
  .block {
    background-image: none;
    height: auto;
    position: relative;
  }

  .bg {
    display: block;
    position: absolute;
    top: -18.667vw;
    left: 0;
    width: 100%;
    height: 90vw;
    background-size: cover;
    background-image: url(../assets/FAQ_car_mob.png);
    z-index: -1;
  }

  .wrapper {
    gap: 8.533vw;
    padding: 0 6.4vw;
  }
}
