@import "tailwindcss";
:root {
  --primary-bg: #141519;
  --accent-elements: rgb(64, 15, 71);
  --secondary-elements: #0016ff;
  --error: #d44343;
  --text-primary: #ffffff;
  --text-primary-80: rgba(255, 255, 255, 0.8);
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--primary-bg);
  color: var(--text-primary);
  font-family: var(--font-raleway);
}

.spin_loader {
  padding: .5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/*50px*/
.text_type_big {
  font-size: 3.472vw;
  line-height: normal;
}

/*32px*/
.text_type_4x {
  font-size: 2.222vw;
  line-height: normal;
}

/*24px*/
.text_type_3x {
  font-size: 1.667vw;
  line-height: 133.333%;
}

/*16px*/
.text_type_2x {
  font-size: 1.111vw;
  line-height: 150%;
}

/*14px*/
.text_type_normal {
  font-size: 0.972vw;
  line-height: 150%;
  letter-spacing: -0.0107vw;
}

/*12px*/
.text_type_1_5x {
  font-size: 0.83vw;
  line-height: normal;
}

/*8px*/
.text_type_1x {
  font-size: 0.55vw;
  line-height: 150%;
  letter-spacing: -0.0107vw;
}

@media (max-width: 1024px) {
  /*8px*/
  .text_type_1x__mobile {
    font-size: 2.133vw;
    line-height: 150%;
  }
  /*12px*/
  .text_type_1_5x__mobile {
    font-size: 3.2vw;
    line-height: 150%;
  }
  /*14px*/
  .text_type_normal__mobile {
    font-size: 3.73vw;
    line-height: 142.86%;
  }
  /*16px*/
  .text_type_2x__mobile {
    font-size: 4.267vw;
    line-height: 150%;
  }

  /*18px*/
  .text_type_2_25x__mobile {
    font-size: 4.8vw;
    line-height: 122%;
  }

  /*20px*/
  .text_type_2_5x__mobile {
    font-size: 5.33vw;
    line-height: 120%;
  }

  /*24px*/
  .text_type_3x__mobile {
    font-size: 6.4vw;
    line-height: 108.33%;
  }
}
